VITE_SUPABASE_URL=https://rmgrhxvbxwdpctvegppb.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_J6uMcF72NX9RctyJvc-L_A_C9KBhVa3
VITE_RESEND_API_KEY=
VITE_EMAIL_SENDER="Ore & Dara's Wedding <onboarding@resend.dev>"
