# Dependencies
node_modules/

# Production build
dist/
dist-ssr/

# Environment variables
.env
.env.local
.env.*.local

# Personal and sensitive documents
Ore_s Documents/
Ore_s Documents
belyga.zip

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor directories
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
tsconfig.tsbuildinfo
